# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/
env/

# Flask instance folders
instance/
uploads/
outputs/
static/charts/
*.pkl
*.pdf

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
