flask
flask-login
flask-sqlalchemy
scikit-learn
pandas
matplotlib
seaborn
fpdf
whisper
yt_dlp
opencv-python
pytesseract
pdf2image
docx2txt
sentence-transformers
lancedb
google-generativeai
python-dotenv